@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #e5d3c0;
    --primary-color-off: #f5fffc;
    --secondary-color: #f8efd6;
    --third-color: #c9c5ca;
    --text-color: #1e1e1e;
    --calc-background-color: #584f53;
    --background-color:#7b6e6e;
}

.not-boring {
    --primary-color: #C4FCEF;
    --primary-color-off: #d8fdf4;
    --secondary-color: #FFE8FF;
    --third-color: #efc5f8;
    --text-color: #1e1e1e;
    --calc-background-color: #ffbde3;
    --background-color:#9f6db6;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:98vh;
    background-color: var(--background-color);
}

button {
    margin: 4px;
    transition: border ease-in-out 0.1s;
    border: solid 1px;
    font-size: 24px;
    padding: 0px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--text-color);
}

p {
    margin: 0;
}

#toggle {
    padding:8px;
    background-color: transparent;
    border: solid 2px var(--secondary-color);
    color: var(--secondary-color);
    transition: ease-in-out 0.33s;
    margin-top: -100px;
    font-size: 20px;
}

#toggle:hover {
    scale: 1.03;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.mainframe {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: var(--calc-background-color);
    padding: 8px 4px 4px 4px;
    border-radius: 4px;
    margin-top: 200px;
}

.display {
    border: solid 2px var(--primary-color);
    border-radius: 4px;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:calc(100% - 8px);
    overflow: hidden;
    padding: 4px;
    background-color: var(--primary-color-off);
    color: var(--text-color);
    margin-bottom: 4px;
}

.mini-display {
    font-size: 12px;
    color: rgb(190, 190, 190);
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear {
    background-color: transparent;
    font-size: 12px;
    transition: ease-in-out 0.2s;
    border: none;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
}

.clear:hover {
    background-color: var(--secondary-color);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0px;
    padding: 2px 6px;
    font-size: 28px;
}

.buttons {
    display: flex;
    width:100%;
    flex: 1;
}

.numbers {
    display: flex;
    flex-direction: column;
    width:75%;
}

.operators {
    display: flex;
    flex-direction: column;
    width:25%;
}

.numbers-row, .operators-row {
    display: flex;
    flex: 1;
}

.operators-row {
    flex-direction: column;
}

.number-button, .operator-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.number-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    transition: ease-in-out .04s;
}

.operator-button {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    transition: ease-in-out .04s;
}

.equal-button {
    background-color: var(--third-color);
    border-color: var(--third-color);
}

.number-button:active, .operator-button:active, .active {
    outline: solid 3px var(--third-color);
    scale: 1.03;
}

.number-button:hover, .operator-button:hover {
    opacity: 0.7;
}

.footer {
    align-self: flex-end;
}

.credits a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px; 
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-color);
    margin: 12px;
}

.credits i {
    color: var(--third-color);
    transition: 0.33s;
    font-size: 16px;
}

.credits i:hover {
    transform: rotateY(3.142rad);
}

@media only screen and (max-width: 600px) {
    
    body {
        height: 85vh;
    }
    
    #toggle {
        margin-top: 0px;
    }

    .mainframe {
        margin-top: 100px;
        width: 290px;
        height: 320px;
    }
  }