@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root,
:root.light {
    --primary-color: #bbcaeb;
    --secondary-color: #8caeb4;
    --third-color: #a3b6db;
}

:root.dark {
    --primary-color: #e6801b;
    --secondary-color: #ffe091;
}

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 4px;
    transition: border ease-in-out 0.1s;
    border: solid 1px var(--primary-color);
    font-size: 18px;
    padding: 0px;
    border-radius: 4px;
}

.mainframe {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.display {
    border: solid 1px var(--primary-color);
    border-radius: 4px;
    height: 72px;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width:calc(100% - 8px);
    overflow: hidden;
    padding: 4px
}

.buttons {
    display: flex;
    width:100%;
    flex: 1;
}

.numbers {
    display: flex;
    flex-direction: column;
    width:75%;
}

.operators {
    display: flex;
    flex-direction: column;
    width:25%;
}

.numbers-row, .operators-row {
    display: flex;
    flex: 1;
}

.operators-row {
    flex-direction: column;
}

.number-button, .operator-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.number-button {
    background-color: var(--primary-color);
}

.operator-button {
    background-color: var(--secondary-color);
}

.equals-button {
    background-color: var(--third-color);
}

.number-button:active, .operator-button:active {
    border: solid 1px #1e1e1e;
}